<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Buttons</h2>
      <p class="lead">
        There are two directives that can make a group of buttons behave like a set of checkboxes, radio buttons, or a hybrid where radio buttons can be unchecked.
      </p>
    </section>

    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>

    <section>
      <h3>Examples</h3>
      <h4>Checkbox Buttons </h4>
      <p>Checkbox buttons with ReactiveForms in Button Groups</p>
      <pre class="callout">{{myForm.value | json}}</pre>
      <form [formGroup]="myForm">
        <div class="small button-group">
          <label class="button primary selectable" [class.active]="myForm.value.left"
                  btnCheckbox formControlName="left"
                  tabindex="0" role="button">Left</label>
          <label class="button primary selectable" [class.active]="myForm.value.middle"
                  btnCheckbox formControlName="middle"
                  tabindex="0" role="button">Middle</label>
          <label class="button primary selectable" [class.active]="myForm.value.right"
                  btnCheckbox formControlName="right"
                  tabindex="0" role="button">Right</label>
        </div>
      </form>
    </section>
    
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="checkboxTemplate"></code> </pre></tab>
        <tab heading="Component"><pre><code highlight [code]="checkboxComponent"></code> </pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Custom Checkbox Value - Button Toggled</h4>
      <pre class="callout">Button is toggled {{toggleModel}}.</pre>
      <button type="button" class="button primary selectable"
              [(ngModel)]="toggleModel" btnCheckbox
              btnCheckboxTrue="On" 
              btnCheckboxFalse="Off">
        Button Toggled {{toggleModel}}
      </button>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="toggledTemplate"></code> </pre></tab>
        <tab heading="Component"><pre><code highlight [code]="toggledComponent"></code> </pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Radio Buttons</h4>
      <p>Radio buttons with checked/unchecked states. Group can be created in two ways: using btnRadioGroup directive or using the same ngModel binding with several buttons (works only for template driven forms). Check the demo below for more info.</p>
      <pre class="callout">{{radioModel || 'null'}}</pre>
      <div class="grid-x">
        <div class="medium-6 large-4 cell">
          <div class="small button-group">
            <label class="button primary selectable" [(ngModel)]="radioModel"
                    btnRadio="Left" tabindex="0" role="button">Left</label>
            <label class="button primary selectable" [(ngModel)]="radioModel"
                    btnRadio="Middle" tabindex="0" role="button">Middle</label>
            <label class="button primary selectable" [(ngModel)]="radioModel"
                    btnRadio="Right" tabindex="0" role="button">Right</label>
          </div>
        </div>
        <div class="medium-6 large-4 cell">
          <div class="small button-group" btnRadioGroup [(ngModel)]="radioModel">
            <label class="button success selectable" btnRadio="Left"
                    tabindex="0" role="button">Left</label>
            <label class="button success selectable" btnRadio="Middle"
                    tabindex="0" role="button">Middle</label>
            <label class="button success selectable" btnRadio="Right"
                    tabindex="0" role="button">Right</label>
          </div>
        </div>
      </div>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="radioTemplate"></code> </pre></tab>
        <tab heading="Component"><pre><code highlight [code]="radioComponent"></code> </pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Disabled Buttons</h4>
      <div class="btn-cont">
        <button type="button" class="button primary" [disabled]="disabled">Button</button>
        <button type="button" class="button warning" (click)="disabled = !disabled">Enable/Disable</button>
      </div>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="disabledTemplate"></code> </pre></tab>
        <tab heading="Component"><pre><code highlight [code]="disabledComponent"></code> </pre></tab>
      </tabset>
    </section>

  </div><!-- /cell -->
</div><!-- /grid -->
