<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Pagination</h2>
      <p class="lead">
        Pagination - provide pagination links for your site or app with the multi-page pagination component, or the simpler pager alternative.
      </p>
      <p class="lead">
        Pager - quick previous and next links for simple pagination implementations with light markup and styles. It's great for simple sites like blogs or magazines.</p>
        
      <p><em>NOTE: ngx-foundation adds <code>user-select: none;</code> and <code>pointer-events: none;</code> by default for the <code>.disabled</code> class which leads to an improved UX.</em> If you wish to use the standard Zurb Foundation behavior for content with a disabled (<code>.disabled</code>)state, change the ngx-foundation SCSS variable <code>$pointer-disabled</code> to <code>$pointer-disabled: auto</code>.</p>
    </section>
    
    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>

    <section>
      <h3>Example</h3>
      <h4>Basic Carousel</h4><br>
      <pagination [directionLinks]="showDirectionLinks" [totalItems]="40"></pagination>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
          <h4>Page Changed Event</h4><br>
          <pagination [totalItems]="70" (pageChanged)="pageChanged($event)"></pagination>
          <div class="callout">
            Page changed to: {{page}}
          </div>
        </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="pagechangeTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="pagechangeComponent"></code></pre></tab>
      </tabset>
    </section>
    
    <section>
      <h4>Pages Count Changed Event</h4><br>
      <pagination [totalItems]="88" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
      <div class="callout">The selected page no: {{currentPage}}/{{smallnumPages}}</div>
    </section>
    <section>
      <tabset #staticTabs>
        <tab heading="Template"><pre><code highlight [code]="pagescountTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="pagescountComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
          <h4>Manual Switching Page</h4><br>
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPageNumber"></pagination>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <button type="button" class="button primary" (click)="setPage(3)">Set current page to: 3</button>
        </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="switchingTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="switchingComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Added Boundary Links with a Limit</h4>
      <p>Displaying a limit of 5 pagination links with <code>maxSize</code>.</p>
      <pagination [boundaryLinks]="showBoundaryLinks" 
        [totalItems]="bigTotalItems" 
        [maxSize]="maxSize"></pagination>
      <button type="button" 
        class="button primary" 
        (click)="showBoundaryLinks = !showBoundaryLinks">
        Hide/show boundary links
      </button>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="boundaryTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="boundaryComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Centering Active Page Link</h4>
      <p>Toggle setting current page link to center with click using <code>rotate</code>.</p>
      <pagination [rotate]="rotate" [totalItems]="100" [maxSize]="maxSize"></pagination>
      <button type="button" class="button secondary" (click)="rotate = !rotate">Toggle centering current page link</button>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="centeringTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="centeringComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Disabled</h4>
      <p>Disable all pagination links.</p>
      <pagination [disabled]="disabled" [totalItems]="66"></pagination>
      <br>
      <button type="button" 
        class="button primary" 
        (click)="toggleState()">
        Toggle state
      </button>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="disabledTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="disabledComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Pager</h4>
      <p>Quick previous and next links for simple pagination implementations with light markup and styles.</p>
      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
          <pagination
            [directionLinks]="false"
            [totalItems]="totalItems"
            [(ngModel)]="pagerCurrentPage"
            (numPages)="smallnumPages = $event">
          </pagination>
        </div>
      </div>
        
      <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
          <pager
            [totalItems]="totalItems"
            [(ngModel)]="pagerCurrentPage"
            (pageChanged)="pagerPageChanged($event)"
            [itemsPerPage]="10">
          </pager>
        </div>
      </div>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="pagerTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="pagerComponent"></code></pre></tab>
      </tabset>
    </section>
          
  </div><!-- /cell -->
</div><!-- /grid -->
