<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Reveal</h2>
      <p class="lead">
        Modal dialogs, or pop-up windows, are handy for prototyping and production. Streamlined but flexible dialog prompts with the minimum required functionality and smart defaults.
      </p>
      <p>NOTE: Reveal is the equivalent to Bootstrap Modals and uses the <code>ModalModule</code>. See proper usage below.</p>  
    </section>
        
    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>
    
    <h3>Service Examples</h3>
    <p>Open a modal from service.</p>

    <p>To be able to open modals from service, inject BsModalService to your constructor.
      Then, call .show() method of modal service. Pass a TemplateRef or a component as a first argument and config as a second (optionally). </p>
    <p>.show() method returns an instance of BsModalRef class with .hide() method and content property where you'll find a component which you've passed to service.</p>

    <section>
      <h4>Template</h4><br>
      <button type="button" class="button primary" (click)="openModal(template)">Create template modal</button>
      <ng-template #template>
        <h4>Modal</h4>
        <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <p>Your couch. It is mine.</p>
        <p>I'm a paragraph that lives inside of a modal.</p>
        <button class="button small primary float-right" (click)="modalRef.hide()" aria-label="Close modal" type="button">OK</button>
      </ng-template>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Modal as a Service</h4>
      <p>Creating a modal as a service helps to keep your modals consistent across your app. Create a single unified structure then dynamically assign your content for use in your component(s). Follow the step-by-step directions below.</p>
      <button type="button" class="button primary" (click)="confirmModal()">Create Modal as a Service</button>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="serviceTemplate"></code></pre></tab>
        <tab heading="Step 1"><pre><code highlight [code]="serviceStep1Component"></code></pre></tab>
        <tab heading="Step 2"><pre><code highlight [code]="serviceStep2Component"></code></pre></tab>
        <tab heading="Step 3"><pre><code highlight [code]="serviceStep3Component"></code></pre></tab>
        <tab heading="Step 4"><pre><code highlight [code]="serviceStep4Component"></code></pre></tab>
        <tab heading="Step 5"><pre><code highlight [code]="serviceStep5Component"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Nested Modal</h4>
      <p>Nested modals are supported with ngx-foundation.</p>
      <button type="button" class="button primary" (click)="openModal(modal)">Open First Modal</button><br>
      <div class="callout">
        <p>Modal #1 Yes/No Button Confirmation:</p>
        <p>{{message}}</p>
      </div>
      <ng-template #modal>
        <h4>This is the First Modal</h4>
        <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <p>Yeah, first modal paragraph here.</p>
        <div class="btn-cont">
          <button type="button" class="button tertiary" (click)="openModal2(modalNested)">Open Second Modal</button>
        </div>
        <div class="btn-cont-alt">
          <button type="button" class="button secondary" (click)="confirm()" >Yes</button>
          <button type="button" class="button primary" (click)="decline()" >No</button>  
        </div>
      </ng-template>

      <!-- Nested Reveal (Modal) -->
      <ng-template #modalNested>
        <h4>Second Nested Modal</h4>
        <hr>
        <button type="button" class="close-button" aria-label="Close" (click)="modalRef2.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>This is a nested modal.</p>
        <div class="btn-cont-alt">
          <button *ngIf="modalRef" type="button" class="button alert" (click)="closeFirstModal()">Close First Modal</button>
        </div>
      </ng-template>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="nestedTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="nestedComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Sizing</h4>
      <p>On small screens, a modal is always 100% of the width of the screen. On medium-sized screens and larger, the width changes to 600px (see the <code>$reveal-width</code> setting).</p>

      <p>The size of a modal can be changed with these sizing classes, which are added to the modal container:</p>
      <ul>
        <li><code>.tiny</code>: 30% wide</li>
        <li><code>.small</code>: 50% wide</li>
        <li><code>.large</code>: 90% wide</li>
        <li><code>.full</code>: 100% width and height</li>
      </ul>

      <div class="btn-cont">
        <button type="button" class="button primary" (click)="openModalTiny(diffSizes)">Tiny Modal</button>
        <button type="button" class="button primary" (click)="openModalSmall(diffSizes)">Small Modal</button>
        <button type="button" class="button primary" (click)="openModalLarge(diffSizes)">Large Modal</button>
        <button type="button" class="button primary" (click)="openModalFull(diffSizes)">Full Modal</button>
      </div>

      <ng-template #diffSizes>
        <h4>Modals with Various Sizes</h4>
        <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <p>Rings of Uranus the sky calls to us science colonies extraordinary claims require extraordinary evidence from which we spring. Globular star cluster dream of the mind's eye with pretty stories for which there's little good evidence at the edge of forever made in the interiors of collapsing stars globular star cluster and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
        <button class="button small primary float-right" (click)="modalRef.hide()" aria-label="Close modal" type="button">OK</button>
      </ng-template>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="sizingTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="sizingComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Confirm Window</h4>
      <p>Modal with opportunity to <code>confirm</code> or <code>decline</code>.</p>
      <button type="button" class="button primary" (click)="openModal(confirmWindow)">Open modal</button>
      <br>
      <div class="callout">{{message}}</div>
      <ng-template #confirmWindow>
        <p>Do you want to confirm?</p>
        <div class="btn-cont-alt">
          <button type="button" class="button secondary" (click)="confirm()" >Yes</button>
          <button type="button" class="button primary" (click)="decline()" >No</button>
        </div>
      </ng-template>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="confirmWindowTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="confirmWindowComponent"></code></pre></tab>
      </tabset>
    </section>
  </div><!-- /cell -->
</div><!-- /grid -->
