<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Sortable</h2>
      <p class="lead">
        The sortable component represents a list of items, with ability to sort them or move to another container via drag&drop. Input collection isn't mutated by the component, so events <code>ngModelChange</code>, <code>onChange</code> are using new collections.
      </p>
      <p><em>NOTE: The Sortable Component does not have a native equivalent in Foundation for Sites, so we used callout containers with some minor styling as a default.</em></p>  
    </section>
          
    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>
    
    <section>
      <h3>Examples</h3>
      <h4>Basic</h4>
      <p>Re-arrange the list or move from one column to the other.</p> 
      <div class="grid-x grid-margin-x">
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="itemStringsLeft"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ itemStringsLeft | json }}</pre>
        </div><!-- /cell -->
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="itemStringsRight"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ itemStringsRight | json }}</pre>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Complex Data Model</h4>
      <p>Re-arrange the list or move from one column to the other.</p> 
      <div class="grid-x grid-margin-x">
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="itemObjectsLeft"
            fieldName="name"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ itemObjectsLeft | json }}</pre>
        </div><!-- /cell -->
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="itemObjectsRight"
            fieldName="name"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ itemObjectsRight | json }}</pre>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="complexDataTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="complexDataComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Custom Item Template</h4>
      <p>Re-arrange the list or move from one column to the other.</p> 
      <ng-template #customTemplate let-item="item" let-index="index"><span>{{index}}: {{item.value}}</span></ng-template>
      <div class="grid-x grid-margin-x">
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="customStringsLeft"
            [itemTemplate]="customTemplate"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ customStringsLeft | json }}</pre>
        </div><!-- /cell -->
        <div class="small-6 medium-5 large-3 cell">
          <bs-sortable
            [(ngModel)]="customStringsRight"
            itemClass="callout sortable"
            itemActiveClass="active success"
            placeholderItem="Empty Column Drag Here"
            placeholderClass="callout sortable placeholder"
            wrapperClass="sortable-wrapper"
          ></bs-sortable><br>
          <pre class="callout primary">model: {{ customStringsRight | json }}</pre>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="customDataTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="customDataComponent"></code></pre></tab>
      </tabset>
    </section>
  </div><!-- /cell -->
</div><!-- /grid -->
