<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Datepicker</h2>
      <p class="lead">
        Datepicker is a highly configurable component that adds datepicker functionality to your pages. You can customize the date format and language, restrict the selectable date ranges.
      </p>
      <p><em>NOTE: Foundation does not have a native Datepicker plugin so minimal styles are added for this component.</em></p>
    </section>
  
    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>

    <section>
      <h3>Styling</h3>
      <h4>Loading CSS or SCSS</h4>
      <p><em>Note: additional css is required for basic formatting: "/datepicker/bs-datepicker.css"</em></p> 

      <p>There are two recommended ways of adding CSS/SCSS:</p>
      
      <section>
        <p>Load it locally in your ng project:</p>
        <pre><code highlight [code]="cssLoad"></code></pre>
      </section>
      
      <p><strong>Preferred SCSS Method</strong>: Load it from the ngx-foundation main.scss file which imports node_modules/ngx-foundation/datepicker/bs-datepicker.scss via package bundler like Angular CLI, if you're using one.</p>
      <pre><code highlight [code]="scssLoad"></code></pre>
    </section>

    <section>
      <h3>Examples</h3>
      <h4>Basic</h4>
      <p>Basic Datepicker (<code>bsDatepicker</code> property) and Date Range Picker (<code>bsDaterangepicker</code> property) with top placement.
      <div class="grid-x grid-margin-x">
        <div class="medium-8 large-4 cell">
          <input type="text"
                  placeholder="Datepicker"
                  placement="top"
                  bsDatepicker>
        </div>
        <div class="medium-8 large-4 cell">
          <input type="text"
                  placeholder="Date Range Picker"
                  placement="top"
                  bsDaterangepicker>
        </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Initial State</h4>
      <p><code>bsValue</code> property sets initial state in this example</p>
      <div class="grid-x grid-margin-x">
        <div class="medium-9 large-5 cell">
          <div class="input-group">
            <span class="input-group-label" (click)="dp.toggle()">
              <fa-icon [icon]="faCalendarAlt" 
                [fixedWidth]="true"></fa-icon>
            </span>
            <input class="input-group-field" 
              type="text"
              #dp="bsDatepicker"
              bsDatepicker
              [bsValue]="bsValue">
          </div>
        </div>
        <div class="large-3 cell">
          <button class="button small success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date Picker</button>
        </div>
      </div>
      
      <p><code>ngModel</code> property sets two-way data binding in this example</p>
      <div class="grid-x grid-margin-x">
        <div class="medium-9 large-5 cell">
          <div class="input-group">
            <span class="input-group-label" (click)="drp.toggle()">
              <fa-icon [icon]="faCalendarAlt" 
                [fixedWidth]="true"></fa-icon>
            </span>
            <input type="text"
              class="input-group-field"
              #drp="bsDaterangepicker" 
              bsDaterangepicker 
              [(ngModel)]="bsRangeValue">
          </div>
        </div>
        <div class="large-3 cell">
          <button class="button small success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Date Range Picker</button>
        </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="initialTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="initialComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Custom Date Format</h4>
      <p>You can easily change the date format by specifying the <code>dateInputFormat</code> in <code>[bsConfig]</code>. 
        
      <p>To set your own date format you can use variety of formats provided by <a href="https://momentjs.com/docs/#/displaying/format/" target="_blank">moment.js</a></p>
        
      <p>The following examples show how to use several date formats inside a form:</p>
      <ul>  
        <li>YYYY-MM-DD</li>
        <li>MM/DD/YYYY</li>
        <li>MMMM Do YYYY,h:mm:ss a</li>
      </ul>
      <form [formGroup]="myForm">
        <div class="grid-x grid-margin-x">
          <div class="medium-9 large-5 cell">
            <div class="input-group">
              <span class="input-group-label" (click)="dpYMD.toggle()">
                <fa-icon [icon]="faCalendarAlt" 
                  [fixedWidth]="true"></fa-icon>
              </span>
              <input type="text"
                class="input-group-field"
                [minDate]="customMinDate"
                [maxDate]="customMaxDate"
                #dpYMD="bsDatepicker"
                placement="top"
                bsDatepicker
                formControlName="myDateYMD"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
            </div>
          </div>
          <div class="large-3 cell">
            <button class="button small success" 
              (click)="dpYMD.toggle()" 
              [attr.aria-expanded]="dpYMD.isOpen">
              Date Picker
            </button>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="medium-9 large-5 cell">
            <div class="input-group">
              <span class="input-group-label" (click)="dpMDY.toggle()">
                <fa-icon [icon]="faCalendarAlt" 
                  [fixedWidth]="true"></fa-icon>
              </span>
              <input type="text"
                class="input-group-field"
                [minDate]="customMinDate"
                [maxDate]="customMaxDate"
                placement="top"
                #dpMDY="bsDatepicker"
                bsDatepicker
                formControlName="myDateMDY"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
            </div>
          </div>
          <div class="large-3 cell">
            <button class="button small success" 
              (click)="dpMDY.toggle()" 
              [attr.aria-expanded]="dpMDY.isOpen">
              Date Picker
            </button>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="medium-9 large-5 cell">
            <div class="input-group">
              <span class="input-group-label" (click)="dpFull.toggle()">
                <fa-icon [icon]="faCalendarAlt" 
                  [fixedWidth]="true"></fa-icon>
              </span>
              <input type="text"
                class="input-group-field"
                [minDate]="customMinDate"
                [maxDate]="customMaxDate"
                placement="top"
                #dpFull="bsDatepicker"
                bsDatepicker
                formControlName="myDateFull"
                [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }">
            </div>
          </div>
          <div class="large-3 cell">
            <button class="button small success" (click)="dpFull.toggle()" [attr.aria-expanded]="dpFull.isOpen">Date Picker</button>
          </div>
        </div>
      </form>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="customDateTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="customDateComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h3>Themes</h3>
      <p>Datepicker comes with some default color schemes. You can change it by manipulating containerClass property in bsConfig object.</p>
        
      <p>There are 2 color schemes: <strong>theme-primary</strong> (mapped to $primary-color) and <strong>theme-secondary</strong> (mapped to $secondary-color). Both theme colors are mapped to their corresponding Foundation color palette equivalent.</p>
      <div class="grid-x grid-margin-x">
        <div class="medium-8 large-4 cell">
          <select
            [(ngModel)]="colorTheme" (ngModelChange)="applyTheme(dpThemes);">
            <option disabled="true" [selected]="true" value="null">Choose Your Theme</option>
            <option value="theme-primary">theme-primary</option>
            <option value="theme-secondary">theme-secondary</option>
          </select>
        </div><!-- /cell -->
        <div class="medium-9 large-5 cell">
          <div class="input-group">
            <input type="text" class="input-group-field" bsDatepicker #dpThemes="bsDatepicker" [bsConfig]="bsConfig">
            <div class="input-group-button">
              <button class="button success small" (click)="dpThemes.show()" [attr.aria-expanded]="dpThemes.isOpen">Open</button>
            </div>
          </div>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="themesTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="themesComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h3>Locales</h3>
      <p class="lead">Datepicker can use different locales. </p>
      <p>It's possible to change a locale by calling use method of BsLocaleService, list of available locales is in dropdown below.</p>

      <p>To use a different locale, you have to import it from ngx-foundation/chronos first, then define it in your @NgModule using function defineLocale.</p>

      <p>Example:</p>

      <section>
        <pre><code highlight [code]="localeExample"></code></pre>
      </section>

      <div class="grid-x grid-margin-x">
        <div class="medium-4 large-2 cell">
          <select
            class="custom-select"
            [(ngModel)]="locale" 
            (ngModelChange)="applyLocale(dpLocales);">
            <option *ngFor="let loc of locales" [value]="loc">{{ loc }}</option>
          </select>
        </div>
        <div class="medium-7 large-4 cell">
          <input placeholder="Datepicker" 
            type="text" 
            bsDatepicker 
            #dpLocales="bsDatepicker">
        </div>
        <div class="large-4 cell">
          <input type="button"
            class="button small success"
            value="Date Picker"
            (click)="dpLocales.show()" />
        </div>
      </div>
        
      <div class="grid-x grid-margin-x">
        <div class="medium-4 large-2 cell">
          <select
            class="custom-select"
            [(ngModel)]="locale" 
            (ngModelChange)="applyLocale(dpr);">
            <option *ngFor="let loc of locales" [value]="loc">{{ loc }}</option>
          </select>
        </div>
        <div class="medium-7 large-4 cell">
          <input placeholder="Daterangepicker" 
            type="text" 
            bsDaterangepicker 
            #dpr="bsDaterangepicker">
        </div>
        <div class="large-4 cell">
          <input type="button"
            class="button small success"
            value="Date Range Picker" 
            (click)="dpr.show()"/>
        </div>
      </div>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="localesTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="localesComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Min/Max Date</h4>
      <p>You can set min and max date of datepicker/daterangepicker using <code>minDate</code> and <code>maxDate</code> properties.</p>
      <p>In the following example minDate is set to yesterday and maxDate to the current day in the next week</p>

      <div class="grid-x grid-margin-x">
        <div class="medium-8 large-4 cell">
          <input
            type="text"
            placeholder="Datepicker"
            ngModel
            bsDatepicker
            [minDate]="dateMinDate"
            [maxDate]="dateMaxDate">
        </div>
        <div class="medium-8 large-4 cell">
          <input
            type="text" 
            placeholder="Daterangepicker"
            ngModel
            bsDaterangepicker
            [minDate]="dateMinDate"
            [maxDate]="dateMaxDate">
        </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="minMaxTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="minMaxComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Placement</h4>
      <p>Add <code>placement</code> property if you want to change placement.</p>
      <p><em>NOTE: The ngx-foundation Datepicker component currently only supports 2 placement positions - Top and Bottom.</em></p>
      <p>
      <div class="grid-x grid-margin-x">
        <div class="medium-8 large-4 cell">
          <label>Placement Top
            <input
              type="text" 
              placeholder="Datepicker"
              bsDatepicker
              placement="top">
          </label>
        </div>
        <div class="medium-8 large-4 cell">
          <label>Placement Bottom
            <input 
              type="text"  
              placeholder="Datepicker"
              bsDatepicker
              placement="bottom">
          </label>
          </div>
      </div>
    </section>
    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="placementTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="placementComponent"></code></pre></tab>
      </tabset>
    </section>

  </div><!-- /cell -->
</div><!-- /grid -->
