<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Orbit</h2>
      <p class="lead">
        A slideshow component for cycling through elements-images or slides of text—like a carousel. Nested carousels are not supported.</p>
      <p><em>NOTE: Orbit is the equivalent to Bootstrap Carousel (given the </em>  <code>CarouselModule</code> <em> module name).</em></p>
    </section>
    
    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>

    <section>
      <h3>Example</h3>
      <h4>Basic Carousel</h4>
      <div class="grid-x grid-margin-x">
        <div class="medium-9 large-8 cell">
          <carousel [showIndicators]="true">
            <slide>
              <figure class="orbit-figure">
                <img class="orbit-image" src="https://baconmockup.com/400/170" alt="First slide"> 
              </figure>
            </slide>
            <slide>
              <figure class="orbit-figure">
                <img class="orbit-image" src="https://baconmockup.com/401/170" alt="Second slide"> 
              </figure>
            </slide>
            <slide>
              <figure class="orbit-figure">
                <img class="orbit-image" src="https://baconmockup.com/402/170" alt="Third slide"> 
              </figure>
            </slide>
          </carousel>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset #staticTabs>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Dynamic Content Carousel with Optional Captions</h4>
      <p>Don't forget to sanitize your HTML (DomSanitizer, SecurityContext).</p>
      <div class="grid-x grid-margin-x">
        <div class="medium-9 large-8 cell">
          <carousel [showIndicators]="true">
            <slide *ngFor="let slide of slides" let index="index">
              <figure class="orbit-figure"> 
                <img class="orbit-image" [src]="slide.src" [alt]="slide.alt">
                <figcaption class="orbit-caption">
                  <span [innerHtml]="slide.caption"></span>
                </figcaption>
              </figure>
            </slide>
          </carousel>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset #staticTabs>
        <tab heading="Template"><pre><code highlight [code]="dynamicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="dynamicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Custom Content</h4>
      <div class="grid-x grid-margin-x">
        <div class="medium-9 large-8 cell">
          <carousel [showIndicators]="true" class="custom-content">
            <slide>
              <div class="custom-slide-1">
                <h2>First custom content</h2>
                <div class="lead">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
            </slide>
            <slide>
              <div class="custom-slide-2">
                <h2>Second custom content</h2>
                <div class="lead">
                  <h3>Second slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
            </slide>
            <slide>
              <div class="custom-slide-3">
                <h2>Third custom content</h2>
                <div class="lead">
                  <h3>Third slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
            </slide>
          </carousel>
        </div><!-- /cell -->
      </div><!-- /grid -->
    </section>
    <section>
      <tabset #staticTabs>
        <tab heading="Template"><pre><code highlight [code]="customTemplate"></code></pre></tab>
        <tab heading="SCSS"><pre><code highlight [code]="customSCSS"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="customComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Configuring Defaults</h4>
      <pre><code highlight [code]="configDefaults"></code></pre>
    </section>

  </div><!-- /cell -->
</div><!-- /grid -->
