<div class="grid-x grid-margin-x">
  <div class="medium-4 large-2 cell">
    <app-sidenav></app-sidenav>
  </div><!-- /cell -->
  <div class="medium-8 large-10 cell">
    <section>
      <h2>Accordion</h2>
      <p class="lead">
          Accordions are elements that help you organize and navigate multiple documents in a single container. They can be used for switching between items in the container.
      </p>
      <p>
        The accordion component builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.
      </p>
    </section>

    <section>
      <h3>Usage</h3>
      <pre><code highlight [code]="usage"></code></pre>
    </section>

    <section>
      <h3>Examples</h3>
      <h4>Basic w/ Disabled First Panel</h4>
      <p>Click headers to expand/collapse content that is broken into logical sections, much like tabs.</p>

      <accordion>
        <accordion-group [isDisabled]="true" heading="Static Header, Disabled">
          End User shouldn't be able to see this shtuff since it's disabled.
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
      </accordion>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="basicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="basicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Accordion/Collapsable Content Not in an Unordered List</h4>
      <p>(Equivalent to BS Collapse)</p>
      <p>You will need to import the Collapse module.</p>
      <section>
        <h3>Usage</h3>
        <pre><code highlight [code]="collapseUsage"></code></pre>
      </section>
      <div class="accordion">
        <button type="button" class="button primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">{{isCollapsed ? 'Show More' : 'Hide'}} Content</button>
        <div id="collapseBasic" [collapse]="isCollapsed" class="callout primary">
          Some content that is collapsed on page load.
        </div>
      </div>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="collapseTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="collapseComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Group Opening Event</h4>
      <p>Accordion with isOpenChange event listener <small>(Open up your Console to see the event listener)</small>.</p>
      <accordion>
        <accordion-group heading="Group without isOpenChange event listener">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Group with isOpenChange event listener" (isOpenChange)="log($event)">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Group with isOpenChange event listener" (isOpenChange)="log($event)">
          <p>Some content</p>
        </accordion-group>
      </accordion>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="groupEventTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="groupEventComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Initially Opened/Expanded</h4>
      <accordion>
        <accordion-group heading="Content 1">
          <p>accordion 1</p>
        </accordion-group>
        <accordion-group heading="Initially expanded"
                          [isOpen]="isFirstOpen">
          This content is initially expanded.
        </accordion-group>
        <accordion-group heading="Content 2">
          <p>accordion 3</p>
        </accordion-group>
      </accordion>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="initiallyExpandedTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="initiallyExpandedComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Dynamic Accordion</h4>
      <p>
        <button type="button" class="button primary small" (click)="addGroupItem()">
          Add Group Item
        </button>
      </p>
        
      <accordion>
        <accordion-group *ngFor="let group of groups" [heading]="group.title">
          {{ group?.content }}
        </accordion-group>
      </accordion> 
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="dynamicTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="dynamicComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Dynamic Body Content</h4>
      <accordion>
        <accordion-group heading="Dynamic Body Content">
          <p>The body of the accordion group grows to fit the contents</p>
          <button type="button" class="button primary tiny" (click)="addItem()">Add
            Item
          </button>
          <div *ngFor="let item of items">{{item}}</div>
        </accordion-group>
        <accordion-group heading="Content 2">
          <p>accordion 2</p>
        </accordion-group>
        <accordion-group heading="Content 3">
          <p>accordion 3</p>
        </accordion-group>
      </accordion>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="dynamicBodyTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="dynamicBodyComponent"></code></pre></tab>
      </tabset>
    </section>

    <section>
      <h4>Open Only One at a Time</h4>
      <accordion [closeOthers]="oneAtATime">
        <accordion-group heading="Header">
          This content is straight in the template.
        </accordion-group>
        <accordion-group heading="Content 1">
          <p>Content 1</p>
        </accordion-group>
        <accordion-group heading="Content 2">
          <p>Content 2</p>
        </accordion-group>
      </accordion>
    </section>

    <section>
      <tabset>
        <tab heading="Template"><pre><code highlight [code]="onlyOneTemplate"></code></pre></tab>
        <tab heading="Component"><pre><code highlight [code]="onlyOneComponent"></code></pre></tab>
      </tabset>
    </section>
    
  </div><!-- /cell -->
</div><!-- /grid -->