.app-loading {
  .logo {
    width: 90px;
    height: 90px;
    
    // this way asset gets processed by webpack 
    background: url(./assets/img/ngx-foundation-logo.svg) center center no-repeat; 
  }
}